@model AdventurousContacts.Models.Contact

@{
    ViewBag.Title = "Delete Contact";
}

<h2>Delete Contact</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <p>
        Confirm delete of @Model.FirstName @Model.LastName (@Model.EmailAddress)
    </p>
    <p>
        <input type="submit" value="Delete" />
    </p>
}

@Html.ActionLink("Back to contacts", "Index")
